<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">

    <testsuites>
        <testsuite name="Clevereach">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">Classes/</directory>
        </include>
    </coverage>

</phpunit>
